@page "/"

<div class="portfolio">

    <section class="hero">
        <h1>John Neil S. Alarde</h1>
        <h3>BSIT Second Year Student</h3>
        <p>I study at Cebu Technological University</p>
    </section>

    <section class="about">
        <h2>About Me</h2>
        <p>
            I am a student learning web development and database systems.
            I enjoy creating websites and exploring new technologies.
        </p>
    </section>

    <section class="projects">

        <h2>Projects</h2>

        <div class="project-card">
            <h3>Lost and Found Website</h3>
            <p>A website for CTU students to post lost items and to report found</p>
        </div>

        <div class="project-card">
            <h3>Barbershop Reservation</h3>
            <p>Users can choose barbers and reserve schedules.</p>
        </div>

        <div class="project-card">
            <h3>Tour System</h3>
            <p>Database system for managing tour packages.</p>
        </div>

    </section>

    <section class="contact">
        <h2>Contact</h2>
        <p>Email: example@email.com</p>
    </section>

</div>

@code {
    string Name = "Your Name";
}
